/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-nov-2018, 17:52:30
    Author     : Sergio_Gerónimo_González
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900');


*{
    font-family: 'Montserrat', sans-serif;   
    font: solid black;
}


div, select, option, input, a{
    background-color: white;
    vertical-align: middle;
}

body{
    background-color: #2e477b;
}



h1, h2{
    
    color: #d23653;
}



div.header, h1.header{
    background-color: transparent;
    position: sticky;
    top: 0px;
    padding: 5px;
    margin: 5px;
}

a.toIndex{
    background: none;
    text-decoration: none;
}

a.toIndex:visited{
    color: #d23653;
}

a.toIndex:hover{
    color: #96d1f0;
    text-decoration: underline;
    text-shadow: 3px 2px #d23653;
}

h1{
    padding-left: 50px;
    font-size: 3em;
    font-weight: 900;
}
table, th, td{
    border: solid gold 1px;
    background: inherit;
}


input, select{
    border: 1px solid #2e477b;
    border-radius: 3px;
    background-color: white;
    width: 100%;
    vertical-align: middle;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

input:focus{
    
    background-color: #96d1f0;
    
}

img.roomIcon{
    display: block;
    
    margin: auto;
    padding: auto;
    width: 250px;
    left: 50%;
    top: auto;
    
}

table.form{
    width: 100%;
    padding: 10px;
}

table.form td{
    padding: 10px;
}

input, select{
    background: inherit;
    width: 100%;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}